.upload-component {
    width: 75%;
    padding: 3% 2.5%;    
    margin: 0 auto 50px auto;
    background-color: white;
    border: 1px solid rgb(56, 56, 56);

    .dzu-dropzone {
        overflow: hidden;
    }
}
